.location-search__container {
    padding: 0.4rem;
}

.location-search-result {
    position: absolute;
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.location-search-result li {
    cursor: pointer;
    background-color: #dee;
}
.location-search-result span:hover {
    background-color: #888;
    color: #dee;
    display: block;
    width: 100%;
}