<header>
  <h1>How is the weather</h1>
</header>
<div class="main__container">
  <div class="left__container">
    <div class="services__container">
      <select class="services__dropdown" (change)='changeProvider(service)'>
        <option *ngFor='let service of Services' value="{{service}}" [selected]="service === SelectedService" >{{service}}</option>
      </select>
    </div>
    <div class="location-search__container">
      <div class="location-search__autocomplete__container">
        <input type="search" class="location-search__input" placeholder="Type Location" [(ngModel)]="SelectedLocation" (ngModelChange)="searchLocation(SelectedLocation)">
        <ul class="location-search-result">
          <li class="location-search-result__item" *ngFor="let loc of Locations" (click)="getForecast(loc)">
            <span>{{loc.toString()}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="current-weather__container" *ngIf="Forecast && Forecast.current">
      <img [src]="Forecast.current.Icon" />
      <span>{{Forecast.current.Condition}}</span>

    </div>
    <div class="forecast-weather__container" *ngIf="Forecast && Forecast.forecast">
    </div>
  </div>
  <div class="right__container">
    Info
  </div>
</div>
<footer>
  2017&reg;
</footer>