header {
    text-align: left;
    padding-left: 1rem;
}

footer {
    padding-top: 1rem;
    text-align: center;
}

a {
    color: #8ad;
}

.main__container {
    display: flex;
    flex: 1 1 auto;
    border-top: solid 1px #ddd;
}

.left__container {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    border-right: solid 1px #ddd;
}

.right__container {
    padding: 1rem;
    flex: 1 1 50%;
}

.services__label {
    flex: 0 0 10%;
}
.services__dropdown {
    flex: 1 1 auto;
    padding: 0.3rem;
    border: solid 1px #888;
    border-radius: 0.2rem 0.2rem 0 0;
}
.services:invalid {
    color: #ddd;
}

.location-search__input {
    padding: 0.3rem;
    border: solid 1px #888;
    border-radius: 0.2rem;
}

.services__container, .location-search__container {
    display: flex;
    padding: 0.4rem;
}
.location-search__autocomplete__container {
    flex: 1 1 auto;
}
.location-search__input {
    width: 100%;
}
.location-search-result {
    position: absolute;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.location-search-result li {
    cursor: pointer;
    background-color: #aaa;
    color: #222;
}
.location-search-result span:hover {
    background-color: #888;
    color: #dee;
    display: block;
    width: 100%;
}

.current-weather__container {
    padding: 1rem;
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.forecast-weather__container  {
    padding: 1rem;
    flex: 1 1 60%;
}

.current-weather__element {
    font-size: 1.5rem;
    flex: 0 1 10%;
}

.current-weather__element.temperature {
    font-size: 2rem;
    font-weight: bold;
}

.forecast-weather.day {
    display: flex;
    justify-content: flex-start;
}

.forecast-weather.day__title {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.forecast-weather.day__date {
    flex: 0 0 20%;
}

.forecast-weather.day__condition {
    flex: 0 0 30%;
}

.forecast-weather.day__temperature {
    flex: 0 0 10%;
}